h1{
    color: rgb(77, 5, 145);
    display:flex;
    justify-content: center;
    font-size: 49px;
        font-weight: 700;

    }
    .type{
        background-color: rgb(134, 7, 207);
    }
    ul{
        background: rgb(229, 184, 243);
    }
    h4{
        background-color: rgb(234, 209, 248);
        font-size: 29px;
        font-weight: 700;
    }